.reactPlayer {
  height: 200px;
}
.songList ul {
  list-style: none;
}
.songList {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.songControls {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 80px;
}
.musicSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  background-color: #ffbedb;
  border-radius: 4px;
  height: 16px;
}
.musicSlider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px;
}

.musicSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 4px;
}
.musicPage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #6aae3c;
}

.musicPage button {
  color: #fbfef9;
  background-color: #bf1363;
}
