@import "tailwindcss";
@import "../main.css";
#confirmDelete label {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.SVG_icon {
  width: 25px;
}
