#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#searchResultList
{
  padding: 100px;
  list-style: none;
}

#singleSearchResult
{
  display: flex;
  padding: 20px;
}
