#navigation
{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap:wrap;
    justify-content: center;
    color: #BF1363;
}
#navigation li a
{
    padding: 10px;
    color: #BF1363;

}

.mainDropdown {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    color: #BF1363;
    background-color: rgba(255, 12, 12, 0);
    cursor: default;
}
.mainDropdownResources
{
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    color: #BF1363;
    background-color: rgba(255, 12, 12, 0);

}

.navDropdown {
    position: relative;
    display: inline-block;
    height: 100%;

}

.dropDownList {
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all 0.5s ease;

}

.dropDownList a {

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition-duration: 0.5s;
    color: #BF1363;
}

/* Change color of dropdown links on hover */
.dropDownList a:hover
{
    border-radius: 10px;
    background-color: rgba(14, 121, 178, 0.42);
}

/* Show the dropdown menu on hover */
.navDropdown:hover .dropDownList {display: block;}

