@import "tailwindcss";
@import "../main.css";

.project {
    @apply rounded-[10px] flex flex-col justify-center items-center bg-PrimaryGradient max-w-[96vw] z-1;
    /* @apply bg-[#CED3DC] rounded-[10px];*/
    padding: 14px 60px 14px;
    margin-bottom: 100px;

}

.project ul {
    list-style: none;
}

.project h2 {
    @apply pb-2;
}

.project ul li {
    @apply border-b-1 border-primary;
    padding-bottom: 4px;
    margin-bottom: 10px;
}
