
#softwareList
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  /*border: 3px solid #19f800;*/
    align-items: center;
    justify-content: center;
    color: #FBFEF9;
}
#softwareList ul
{
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 200px;

}
.logo
{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}
#softwareList ul li
{
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 15px;
    transform: translate(-20px);
    color: #E8E9ED;
}

.centerPhotos
{
    display: flex;
    justify-content: center;
}
.flickrPhotos
{
    column-count: 2;
    column-gap: 0;

}
.flickrPhotos img {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
    margin-top: -3px;
}
