video {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* transform: scale(240%);*/
  mix-blend-mode: soft-light;

  z-index: 1;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden;
  overflow-clip: none;

  /*animation-name: grain;
    animation-duration: 400ms;
    animation-iteration-count: infinite;*/
}
@keyframes grain {
  0% {
    transform: scale(2) translateX(0px);
  }
  25% {
    transform: scale(2) translateX(-10px) translateY(-10px);
  }
  50% {
    transform: scale(2) translateX(0px) translateY(-10px);
  }
  75% {
    transform: scale(2) translateX(-20px) translateY(10px);
  }
  100% {
    transform: scale(2);
  }
}
