@import "tailwindcss";

@theme {
  --font-primary: "Matisse_Standard";
  --color-background: #141414;
  --color-primary: #fcf7f8;
  --color-secondary: oklch(0.6 0.2774 300.55);
  /* --color-secondary: oklch(0.72 0.2466 360);*/
  --color-sunny: oklch(0.84 0.1224 2.11);
  --color-tertiary: oklch(0.84 0.1224 48.45);
  /*--color-tertiary: #79b791;*/
  --color-chalk: #ced3dc;
  --font-secondary: "Helvetica";
  --font-fancy: "Emeritus";
}
@utility bg-PrimaryGradient {
  @apply bg-linear-to-br from-sunny to-secondary;
}
@font-face {
  font-family: "Emeritus";
  font-weight: 400;
  src: url("../public/fonts/Emeritus-Trial-Display.otf") format("opentype");
}
@font-face {
  font-family: "Surt";
  font-weight: 400;
  src: url("../public/fonts/surt-trial/Surt-Normal-Regular-TRIAL.otf")
    format("opentype");
}
@font-face {
  font-family: Helvetica;
}

body {
  @apply p-0 text-primary font-secondary bg-[#141414];
}
h1 {
  @apply text-[60px] text-primary font-primary font-bold bg-clip-text p-0;
}
h2 {
  @apply p-0 text-5xl text-secondary font-bold font-fancy;
}
h3 {
  @apply p-0 text-2xl text-tertiary font-bold font-primary;
}

:root {
  margin: 0;
  padding: 0;
  text-align: center;
}

a:hover {
  @apply text-secondary;
}

button {
  cursor: pointer;
  transition: border-color 0.2s;
  @apply text-primary rounded-md px-6 py-3
  bg-PrimaryGradient;
}
button:hover {
  @apply border-secondary;
}
button:focus,
button:focus-visible {
  @apply outline-2 outline-secondary;
}
input:focus,
input:focus-visible {
  @apply outline-2 outline-secondary;
}
